<blockquote><p>Your question: <strong><%= @questions %></strong></p></blockquote>
<blockquote><cite><p>Coach's answer: </cite><strong><%= @answer %></strong></p></blockquote>

<%= link_to "Ask a new question", ask_path %>
